.principal-container{
    position: relative;
    background-color: white;
    flex-direction: column;
    width: 100%;
}

.info-container{
    flex-direction: column;
    padding-top: 70px;
    height: 100%;
    width: 100%;
}

.dashboard-card-content{
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    padding: 20px;
    padding-left: 20px;
}

.top-inicio{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
    max-width: 80%;
    align-items: center;
}

.graficos-inicio{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 80%;
    align-items: center;
}

.top-date{
    margin-right: 10px;
}

.top-input{
    width: 100px;
    margin-right: 10px;
}