.container{
    position: relative;
    background-color: white;
    flex-direction: column;
    width: 100%;
}

.info-container{
    flex-direction: column;
    padding-top: 70px;
    height: 100%;
}

.dashboard-card-content{
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    padding: 20px;
    padding-left: 20px;
}