.grupo-container{
    position: relative;
    background-color: white;
    flex-direction: column;
    width: 100%;
}

.info-container{
    flex-direction: column;
    padding-top: 70px;
    height: 100%;
}

.grupo-card-content{
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    padding: 20px;
    padding-left: 20px;
}

.acciones-grupo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.grid-grupo{
    min-height: 100px;
    width: 100%;
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
}

