.asignaturas-container{
    position: relative;
    background-color: white;
    flex-direction: column;
    width: 100%;
}

.info-container{
    flex-direction: column;
    padding-top: 70px;
    height: 100%;
}

.acciones-asignaturas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 800px;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
}

.grid-asignaturas{
    min-height: 500px;
    width: 800px;
    padding-left: 20px;
}

