.drawer{
    width: 225px;
}

.imgLogo{
    width: 90px;
    height: 60px;
}

.drawer-content {
    overflow-y: auto;
    height: 100%;
}

.menu-usuario{
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
}

.icon-acordeon{
    color: gray;
}

.label-text{
    padding-left: 30px;
}