.grid{
    height: 200px;
}

.usuario-container{
    position: relative;
    background-color: white;
    flex-direction: column;
    width: 100%;
}

.topbar{
    position: absolute;
    color: darkblue;
    height: 40px;
    align-items: start;
    justify-content: center;
}

.topbar-text{
    padding-left: 25px;
    font-weight: 50px;
}

.secContainer{
    padding-top: 70px;
}

.interact{
    display: flex;
    margin-bottom: 10px;
}

.addDiv{
    margin-right: 150px;
}

.searchDiv{
    align-items: center;
}

.buttonDesing{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
}

.buttonDesing:hover{
    cursor: pointer;
    border-color: lightblue;
    transition: .2s;
}

.buttonDesing:active{
    background-color: white;
    color: darkblue;
    transition: .2s;
}

.searchInput{
    margin-right: 10px;
}
