.footer-container{
    position: absolute;
    width: 100%;
    background-color: darkblue;
    bottom: 0;
}

.copyright{
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.copyright p{
    font-size: 15px;
    color: white;
}