.card{
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.card p {
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 25px;
    font: bold;
    border-bottom: 1px solid silver;
}

.card form {
    padding: 0 40px;
    box-sizing: border-box;
}

.buttonContainer {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.botonSubmit{
    width: 100%;
}

.container{
    display: block;
}

.column{
    width: 100%;
}

.row{
    margin-bottom: 10px;
}


.input{
    width: 100%;
    margin-bottom: 20px;
}

.registro{
    margin-left: 15%;
    font-size: 14px;
}

.registroContainer{
    display: flex;
    flex-direction: block;
    align-items: center;
    margin-bottom: 20px;
}

.registroContainer > Button {
    font-size: 12px;
    margin-left: 15px;
}
